* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

.h2 {
    background: black;
}

div {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: red;
    font-size: 1.5em;
    font-weight: bold;
}

.h1 {
    background: url("https://4kwallpapers.com/images/walls/thumbs_3t/13819.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    
}

.h3 {
    background: url('https://www.chromethemer.com/wallpapers/chromebook-wallpapers/images/960/doraemon-chromebook-wallpaper.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}